<tr>
    <td colspan="8" class="card_type">
        <div class="reduce_to_fit">
            {{card.type.name | title}}
        </div>
    </td>
</tr>

<tr class="card_description">
    <td colspan="8">
        <div style="font-size:mm">
            {% if card.prerequisite %}
            <p style="text-align: center;"><b>Prerequisite:</b> {{card.prerequisite}}.</p>
            {% endif %}
            {% if card.ability_score_increase %}
            <p><b>Ability Score Increase:</b> {{card.ability_score_increase}}</p>
            {% endif %}

            {% autoescape on %}
            {{ card.desc | safe }}
            {% endautoescape %}

        </div>
    </td>
</tr>