<tr>
    <td colspan="8" class="card_type">
        <div class="reduce_to_fit">
            {{card.type.name | title}} - {% if card.level == 0 %}Cantrip{% else %}{{card.level}}º Level{% endif %} of {{card.magic_school.name}}{% if card.is_ritual or card.is_chronomancy or card.is_renaissance %} -{% endif %}{% if card.is_ritual %} Ritual{% endif %}{% if card.is_chronomancy %} Chronomancy{% endif %}{% if card.is_renaissance %} Renaissance{% endif %}
        </div>
    </td>
</tr>
<tr>
    <td colspan="4" class="tiny_label" style="border: 0; width:50%;">
        <div>Casting Time</div>
        {{card.casting_time}}
    </td>
    <td colspan="4" class="tiny_label">
        <div>Range</div>
        {{card.range}}
    </td>
</tr>
<tr>
    <td class="tiny_label">
        <div>V</div>
        {% if card.is_verbal %} ◆ {% else %} ◇ {% endif %}
    </td>
    <td class="tiny_label">
        <div>S</div>
        {% if card.is_somatic %} ◆ {% else %} ◇ {% endif %}
    </td>
    <td class="tiny_label">
        <div>M</div>
        {% if card.required_material %} ◆ {% else %} ◇ {% endif %}
    </td>
    <td class="tiny_label">
        <div>C</div>
        {% if card.is_concentration %} ◆ {% else %} ◇ {% endif %}
    </td>
    <td colspan="4" class="tiny_label">

        <div>Duration</div>
        {% if card.is_concentration %} Up to {% endif %}{{card.duration}}

    </td>
</tr>
<tr class="card_description">
    <td colspan="8">
        <div style="font-size:mm">{% if card.required_material %}<p style="text-align: center;">{{card.required_material}}</p>
            {% endif %}
                {% autoescape on %}
                  {{ card.desc | safe  }}
               {% endautoescape %}

            {% if card.at_higher_level %}<p><b>At Higher Levels: </b>{{card.at_higher_level}}</p>{% endif %}
            <!--            {% if card.casters.all %}-->
            <!--            <p><b>Casters:</b> {% for caster in card.casters.all %}{% if not forloop.first %}, {% endif %}{{caster.name }}{% endfor %}</p>-->
            <!--            {% endif %}-->
        </div>
    </td>
</tr>