
<tr>
	<td colspan="8" class="card_type">
		<div>
			{{card.armor_type.name | title}}
		</div>
	</td>
</tr>
<tr>
	<td colspan="8" class="card_type">
		<div>
			{{card.rarity.name | title}}
		</div>
	</td>
</tr>


<tr>
	 <td class="card_component">
        <div>Armor Class</div>
			{{card.ac}}
	</td>
	 <td class="card_weight_component">
        <div>Weight</div>
			{{card.weight|floatformat:-2}} lb.
	</td>
</tr>
{% if card.apply_disadvantage_on_stealth %}
<tr>
	 <td colspan="2" class="card_component">
			Disadvantage on Stealth
	</td>
</tr>
{% endif %}

{% if card.category %}
<tr>
	<td colspan="8" class="card_type">
		<div>
			{{card.category}}
		</div>
	</td>
</tr>
{% endif %}

<tr class="card_description">
    <td colspan="8" >
        <div style="font-size:">
			{% if card.attunement_description %}
			<p style="text-align:center;">
				{{card.attunement_description}}
			</p>
			{% endif %}
                {% autoescape on %}
                {{ card.description | safe }}
                {% endautoescape %}
        </div>
    </td>
</tr>
