<tr>
    <td colspan="14" class="card_component">
        <div>Race - Background</div>
        &#10240;
    </td>
</tr>
<tr>
    <td colspan="14" class="card_component">
        <div>Class - Subclass - Level</div>
        &#10240;
    </td>
</tr>

<tr>
    <td colspan="2" class="card_component" style="width:25%;"><div>Profi. Bonus</div>⠀</td>
    <td colspan="4" class="card_component" style="width:25%;"><div>A.C.</div>⠀</td>
    <td colspan="4" class="card_component" style="width:25%;"><div>Initiative</div>⠀</td>
    <td colspan="4" class="card_component"><div>Speed</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>Inspi. Pt.</div>⠀</td>
    <td colspan="4" class="card_component"><div>Max HP</div>⠀</td>
    <td colspan="4" class="card_component"><div>Temp. HP</div>⠀</td>
    <td colspan="4" class="card_component"><div>Curr. HP</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>STR</div>/</td>
    <td colspan="6" class="card_component"><div>Hit Dice</div>/</td>
    <td colspan="6" class="card_component"><div>Death Save</div>⊕⊕⊕ - ⊗⊗⊗</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>DEX</div>/</td>
    <td colspan="12" class="card_component"><div>Weapon</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>CON</div>/</td>

    <td colspan="12" class="card_component"><div>Armor</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>INT</div>/</td>

    <td colspan="12" class="card_component"><div>Tools</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>WIN</div>/</td>
    <td colspan="12" class="card_component"><div>Language</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>CAR</div>/</td>
    <td colspan="12" class="card_component"><div>Others</div>⠀</td>
</tr>
<tr>
    <td colspan="2" class="card_component"><div>Pass. Perc.</div>⠀</td>
    <td colspan="12" class="card_component"><div>Player</div>⠀</td>
</tr>