{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>View Cards</title>
    <link rel="icon" href="{% static 'assets/img/DnD-Emblem.ico' %}" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'assets/css/custom/view_card_screen_stylesheet.css' %}" media="print">
    <link rel="stylesheet" href="{% static 'assets/css/custom/view_card_screen_stylesheet.css' %}" media="screen">
</head>

<body>
{% for card in card_list|dictsort:"name" %}
<div class="card_print">
    <table>
        <thead>
        <tr>
            <th colspan="100">
                <div class="card_title reduce_to_fit">{{card.name|default_if_none:"&nbsp"}}</div>
            </th>
        </tr>
        </thead>
        <tbody class="card_inner">

        {% if card.type.slug == "spell" %}
        {% include 'cardmaker/card_spell.html'%}
        {% elif card.type.slug == "infusion" %}
        {% include 'cardmaker/card_infusion.html'%}
        {% elif card.type.slug == "feat" %}
        {% include 'cardmaker/card_feat.html'%}
        {% elif card.type.slug == "class" %}
        {% include 'cardmaker/card_class.html'%}

        {% else %}
        {% include 'cardmaker/card_generic.html'%}
        {% endif %}

        {% if card.source %}
        <tr class="card_source">
            <td colspan="100">
                <div>
                    <b>Source:</b> {{card.source.name}}
                </div>
            </td>
        </tr>
        {% endif %}

        </tbody>
    </table>
</div>
{% endfor %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/AntiOverflowFontResizer/AntiOverflowFontResizer.js' %}"></script>
<script src="{% static 'assets/js/custom/card_maker_script.js' %}"></script>
{% endblock %}

</body>
</html>
