{% extends "layout/base.html" %}
{% load static %}
{% block title %}Adventuring Gears{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Adventuring Gears</div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab-rarity-all" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="table-responsive">
                                <table class="table table-hover generic-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 40%;">Name</th>
                                        <th scope="col" style="width: 40%;">Category</th>
                                        <th scope="col" style="width: 15%;">Cost</th>
                                        <th scope="col" style="width: 10%;">Weight</th>
                                        <th class="text-center" scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for adventuring_gear in table_list %}
                                    <tr>
                                        <td>{{adventuring_gear.name}}</td>
                                        <td>{{adventuring_gear.gear_category.name}}</td>
                                        <td>{{adventuring_gear.cost.quantity}} {{adventuring_gear.cost.unit}}</td>
                                        <td>{% if adventuring_gear.weight %}{{adventuring_gear.weight}} lb.{% endif %}</td>
                                        <td>
                                            <a href="{% url 'card_view' adventuring_gear.slug %}"><i class="bx bx-search text-secondary"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>
{% endblock %}