{% extends "layout/base.html" %}
{% load static %}
{% block title %}Ability Scores and Skills{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Ability Scores and Skills</h5>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover infusion-table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 30%;">Ability Score</th>
                            <th scope="col" style="width: 40%;">Skill</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card_ability_score in ability_score_list %}
                        <tr>
                            <td rowspan="{{ card_ability_score.skill|length|add:1 }}"><a href="{% url 'card_view' card_ability_score.slug %}">{{card_ability_score.name}}</a></td>
                            {% for card_skill in skill_list %}
                            {% if card_ability_score.slug == card_skill.ability_score.slug %}
                        <tr>
                            <td rowspan=""><a href="{% url 'card_view' card_skill.slug %}">{{card_skill.name}}</a></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>
{% endblock %}