{% extends "layout/base.html" %}
{% load static %}
{% block title %}Magic Itens{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Magic Itens</h5>
                </div>
                <div class="card-body">
                    <ul class="nav nav-tabs nav-danger mb-3">
                        <!-- PILL ALL RARITY -->
                        <li class="nav-item">
                            <a class="nav-link active show" id="pill-rarity-all"
                               data-toggle="pill" href="#tab-rarity-all" role="tab"
                               aria-controls="pills-home" aria-selected="false">
                                All Rarities</a>
                        </li>
                        <!-- PILL RARITYS -->
                        {% for rarity in rarity_list %}
                        <li class="nav-item">
                            <a class="nav-link" id="pills-rarity-{{ rarity }}"
                               data-toggle="pill" href="#tab-rarity-{{ rarity }}" role="tab"
                               aria-controls="pills-home" aria-selected="false">{{rarity}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    <!-- TABELA ALL RARITY -->
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab-rarity-all" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover generic-table">
                                    <thead>
                                    <tr>
                                        <th scope="col" style="width: 40%;">Name</th>
                                        <th scope="col" style="width: 20%;">Type</th>
                                        <th class="text-center" scope="col" style="width: 15%;">Rariry</th>
                                        <th scope="col" style="width: 35%;">Attunement</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in table_list %}
                                    <tr>
                                        <td><a href="{% url 'card_view' item.slug %}">{{item.name}}</a></td>
                                        <td>{{item.category.name}}</td>
                                        <td>{{item.rarity.name}}</td>
                                        <td>{% if item.requires_attunement %}{{item.requires_attunement}}{% endif %}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- TABELA RARITY -->
                        {% for rarity in rarity_list %}
                        <div class="tab-pane fade" id="tab-rarity-{{ rarity }}" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover item-table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col" style="width: 20%;">Type</th>
                                        <th scope="col" style="width: 35%;">Attunement</th>
                                        <th class="text-center" scope="col" style="width: 5%;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in table_list %}
                                    {% if item.rarity.name == rarity %}
                                    <tr>
                                        <td>{{item.name}}</td>
                                         <td>{{item.category.name}}</td>
                                        <td>{% if item.requires_attunement %}{{item.requires_attunement}}{% endif %}</td>
                                        <td>
                                            <a href="{% url 'card_view' item.slug %}"><i class="bx bx-search text-secondary"></i></a>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>
{% endblock %}