{% extends "layout/base.html" %}
{% load static %}
{% block title %}Classes and Subclasses{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Classes and Subclasses</div>
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover infusion-table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 30%;">Class</th>
                            <th class="text-center" style="width: 1%;" scope="col"></th>
                            <th scope="col" style="width: 40%;">Subclass</th>
                            <th class="text-center" style="width: 1%;" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card_class in class_list %}
                        <tr>
                            <td rowspan="{{ card_class.subclasses|length|add:1 }}">{{card_class.name}}</td>
                            <td rowspan="{{ card_class.subclasses|length| add:1 }}">
                                <a href="{% url 'card_view' card_class.slug %}"><i class="bx bx-search text-secondary"></i></a>
                            </td>
                            {% for card_subclass in card_class.subclasses %}
                        <tr>
                            <td rowspan="">{{card_subclass.name}}</td>
                            <td>
                                <a href="{% url 'card_view' card_subclass.slug %}"><i class="bx bx-search text-secondary"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>
{% endblock %}