
                {% if card.type.slug == "spell" %}
                {% include 'cardviewer/card/card_spell.html'%}
                {% elif card.type.slug == "magic_school" %}
                {% include 'cardviewer/card/card_magic_school.html'%}
                {% elif card.type.slug == "infusion" %}
                {% include 'cardviewer/card/card_infusion.html'%}
                {% elif card.type.slug == "feat" %}
                {% include 'cardviewer/card/card_feat.html'%}
                {% elif card.type.slug == "class" %}
                {% include 'cardviewer/card/card_class.html'%}
                {% elif card.type.slug == "subclass" %}
                {% include 'cardviewer/card/card_subclass.html'%}
                {% elif card.type.slug == "class_feature" %}
                {% include 'cardviewer/card/card_class_feature.html'%}
                {% elif card.type.slug == "monster" %}
                {% include 'cardviewer/card/card_monster.html'%}
                {% elif card.type.slug == "magic_item" %}
                {% include 'cardviewer/card/card_magic_item.html'%}
                {% elif card.type.slug == "armor" %}
                {% include 'cardviewer/card/card_armor.html'%}
                {% elif card.type.slug == "weapon" %}
                {% include 'cardviewer/card/card_weapon.html'%}
                {% elif card.type.slug == "adventuring_gear" %}
                {% include 'cardviewer/card/card_adventuring_gear.html'%}
                {% elif card.type.slug == "tool" %}
                {% include 'cardviewer/card/card_tool.html'%}
                {% elif card.type.slug == "eldritch_invocation" %}
                {% include 'cardviewer/card/card_with_prerequisite.html'%}
                {% else %}
                {% include 'cardviewer/card/card_generic.html'%}
                {% endif %}
