<div class="card-header d-flex align-items-center justify-content-between">
    <div class="card-title mb-0">
        <h5 class="m-0 me-2">{% block card_title %}{% endblock %}</h5>
        <small class="text-muted">{% block card_subtitle %}{% endblock %}</small>
    </div>
    <button type="button" class="btn btn-icon btn-secondary" id="store_card">
            <span class="bx bxs-book-add"></span>
        </button>
</div>
<div class="card-body">
    {% block card_body %}
    {% endblock %}

    {% include 'cardviewer/card/card_footer.html'%}
    {% block card_footer %}
    {% endblock %}
    <p class="card-text"><small class="text-muted">Source: {{card.source.name}}</small></p>

</div>

