{% load static %}
<div class="sidebar sidebar-style-2">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-primary">
                <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                    <h4 class="text-section">Spell</h4>
                </li>
                <li class="nav-item">
                    <a href="{% url 'spell_list' %}">
                        <i class="fas fa-magic"></i>
                        <p>Spells</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#magic_school_nav">
                        <i class="fas fa-school"></i>
                        <p>Magic Schools</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="magic_school_nav">
                        <ul class="nav nav-collapse">
                            {% for cardbase in magic_school_list_context_processors %}
                            <li>
                                <a href="{% url 'card_view' cardbase.slug %}">
                                    <span class="sub-item">{{cardbase.name}}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                    <h4 class="text-section">Class</h4>
                </li>
                <li class="nav-item">
                    <a href="{% url 'class_subclass_list'%}">
                        <i class="fas fa-user-astronaut"></i>
                        <p>Classes e Subclasses</p>
                    </a>
                </li>

                <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                    <h4 class="text-section">Creatures</h4>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="fas fa-paw"></i>
                        <p>Races</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'monster_list'%}">
                        <i class="fas fa-skull"></i>
                        <p>Monsters</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#condition_nav">
                        <i class="fas fa-diagnoses"></i>
                        <p>Conditions</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="condition_nav">
                        <ul class="nav nav-collapse">
                            {% for cardbase in conditon_list_context_processors %}
                            <li>
                                <a href="{% url 'card_view' cardbase.slug %}">
                                    <span class="sub-item">{{cardbase.name}}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'feat_list' %}">
                        <i class="fas fa-user-graduate"></i>
                        <p>Feat</p>
                    </a>
                </li>

                <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                    <h4 class="text-section">Itens</h4>
                </li>
                <li class="nav-item">
                    <a href="{% url 'item_list' %}">
                        <i class="fas fa-flask"></i>
                        <p>Itens</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a data-toggle="collapse" href="#weapon_property_nav">
                        <i class="fas fa-shield-alt"></i>
                        <p>Weapon Properties</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="weapon_property_nav">
                        <ul class="nav nav-collapse">
                            {% for cardbase in weapon_property_list_context_processors %}
                            <li>
                                <a href="{% url 'card_view' cardbase.slug %}">
                                    <span class="sub-item">{{cardbase.name}}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                    <h4 class="text-section">Miscellaneous</h4>
                </li>
                <li class="nav-item">
                    <a href="{% url 'ability_score_skill_list' %}">
                        <i class="fas fa-user-md"></i>
                        <p>Ability Score and Skills</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="{% url 'battle_maneuver_list' %}">
                        <i class="fas fa-user-ninja"></i>
                        <p>Battle Maneuvers</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="{% url 'eldritch_invocation_list' %}">
                        <i class="fas fa-fire"></i>
                        <p>Eldritch Invocations</p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a href="{% url 'fighting_style_list' %}">
                        <i class="fas fa-gavel"></i>
                        <p>Fighting Styles</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'infusion_list' %}">
                        <i class="fas fa-screwdriver"></i>
                        <p>Infusions</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'metamagic_list' %}">
                        <i class="fas fa-sun"></i>
                        <p>Metamagics</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>