<!--Inutilizado-->
{% extends "layout/base.html" %}
{% load static %}
{% block title %}{{card.name}}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col-xl">
            <div class="card">
                {% autoescape off %}
                {{card.desc}}
                {% endautoescape %}
                <div class="row">
                    <div class="col">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col" style="width: 99%;">Name</th>
                                <th class="text-center" style="width: 1%;" scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for card_row in table_list %}
                            <tr>
                                <td>{{card_row.name}}</td>
                                <td>
                                    <a href="{% url 'card_view' card_row.slug %}"><i class="fas fa-search text-danger"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#store_card').click(function() {
            $.ajax({
                url: '{% url 'store_card_in_cart' card.slug %}',
                type: 'GET',
            });
        });
    });

</script>
{% endblock %}
