<div class="card-header">
    {% include 'cardviewer/card/card_header.html'%}
    <div class="card-head-row">
        <div class="card-category mt-0">Magic Item - {{card.rarity.name}} - {{card.category.name}}</div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col">
            {% if card.requires_attunement %}
            <div class="row">
                <div class="col">
                    <p>
                        {{card.requires_attunement}}
                    </p>
                </div>
            </div>
            {% endif %}
            {% autoescape off %}
            {{card.desc}}
            {% endautoescape %}
        </div>
    </div>

    {% include 'cardviewer/card/card_footer.html'%}
</div>