<div class="card-header d-flex align-items-center justify-content-between">
    <div class="card-title mb-0">
        <h5 class="m-0 me-2">{% block card_title %}{% endblock %}{{card.name}}</h5>
        <small class="text-muted">Infusion</small>
    </div>
    <button type="button" class="btn btn-icon btn-secondary" id="store_card">
        <span class="bx bxs-book-add"></span>
    </button>
</div>
<div class="card-body">
    {% if card.prerequisite_artificer_level %}
    <div class="row">
        <div class="col">
            <p>
                <b>Prerequisite</b>: {{card.prerequisite_artificer_level}}th-level artificer
            </p>
        </div>
    </div>
    {% endif %}
    {% if card.material %}
    <div class="row">
        <div class="col">
            <p>
                <b>Item</b>: {{card.material}}{% if card.requires_attunement %} Requires attunement.{% endif %}
            </p>
        </div>
    </div>
    {% endif %}
    {% autoescape off %}
    {{card.desc}}
    {% endautoescape %}

    {% include 'cardviewer/card/card_footer.html'%}
</div>
