<div class="card-header">
    <div class="card-head-row">
        <div class="card-title">{{card.name}}</div>
        <div class="card-tools">
            <button class="btn btn-danger" id="store_card"><i class="fa fa-print"></i></button>
        </div>
    </div>
    <div class="card-head-row">
        <div class="card-category mt-0">Class Feature - {{card.class.name}} {{card.level}}º Level </div>
    </div>
</div>
<div class="card-body">
    {% autoescape off %}
    {{card.desc}}
    {% endautoescape %}
    <div class="row">
        <div class="col">
            <button class="btn btn-light btn-xs" disabled=""><b>Source:</b> {{card.source.name}}</button>
        </div>
    </div>
</div>