<div class="card-header">
    {% include 'cardviewer/card_header.html'%}
    <div class="card-head-row">
        <div class="card-category mt-0">Eldritch Invocation</div>
    </div>
</div>
<div class="card-body">
    {% if card.prerequisite %}
    <div class="row">
        <div class="col">
            <p>
                <b>Prerequisite</b>: {{card.prerequisite}}
            </p>
        </div>
    </div>
    {% endif %}
    {% autoescape off %}
    {{card.desc}}
    {% endautoescape %}

    {% include 'cardviewer/card_footer.html'%}
</div>