{% extends "layout/base.html" %}

{% load static %}
{% block title %}{{card.name}}{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}

<div class="page-inner">
    <div class="row">
        <div class="col-xl">
            <div class="card">
                {% include 'cardviewer/card_content.html'%}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>

<script>
    $(document).ready(function() {
        $('#store_card').click(function() {
            $.ajax({
                url: '{% url 'store_card_in_cart' card.slug %}',
                type: 'GET',
            });
        });
    });


</script>
{% endblock %}