{% load custom_tag %}
<div class="card-header">
    <div class="card-head-row">
        <div class="card-title">{{card.name}}</div>
        <div class="card-tools">
            <button class="btn btn-danger" id="store_card"><i class="fa fa-print"></i></button>
        </div>
    </div>
    <div class="card-head-row">
        <div class="card-category mt-0">{{card.type.name}} - {{card.size | title}} {{card.monster_type.name | title}}, {{card.alignment|title}}</div>
    </div>
</div>
<div class="card-body">
    {% autoescape off %}
    {{card.desc}}
    {% endautoescape %}
    <div class="row">
        <div class="col">
            <p>
                <b>Challenge :</b> {% if card.challenge_rating == 0.125 %}
                <sup>1</sup>/<sub>8</sub>
                {% elif card.challenge_rating == 0.25 %}
                <sup>1</sup>/<sub>4</sub>
                {% elif card.challenge_rating == 0.5 %}
                <sup>1</sup>/<sub>2</sub>
                {% else %}
                {{card.challenge_rating}}
                {% endif %} ({{card.xp}}xp)
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                <b>Armor Class:</b> {% for armor_class in card.armor_class %}{% if not forloop.first %}, {% endif %} {{armor_class.value}} {% if armor_class.type %} ({{armor_class.type}}) {% endif %}{% endfor %}<br>
                <b>Hit Points:</b> {{card.hit_points}} ({{card.hit_points_roll}})<br>
                <b>Speed:</b> {% for speed in card.speed %}{% if not forloop.first %}, {% endif %} {% if speed.type %} {{speed.type}} {% endif %} {{speed.value}} ft.{% if speed.hover %} (hover){% endif %}{% endfor %}<br>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <tr>
                    <th style="text-align: center;">STR</th>
                    <th style="text-align: center;">DEX</th>
                    <th style="text-align: center;">CON</th>
                    <th style="text-align: center;">INT</th>
                    <th style="text-align: center;">WIS</th>
                    <th style="text-align: center;">CAR</th>
                </tr>
                <tr>
                    <td style="text-align: center;">{{card.stats.strength | ability_modifier}}</td>
                    <td style="text-align: center;">{{card.stats.dexterity| ability_modifier}}</td>
                    <td style="text-align: center;">{{card.stats.constitution| ability_modifier}}</td>
                    <td style="text-align: center;">{{card.stats.intelligence| ability_modifier}}</td>
                    <td style="text-align: center;">{{card.stats.wisdom| ability_modifier}}</td>
                    <td style="text-align: center;">{{card.stats.charisma| ability_modifier}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <b>Senses:</b> {% for sense in card.senses %}{% if sense.type %}{{sense.type | title}} {{sense.value}} ft.,{% endif %}{% endfor %} Passive Perception {{card.passive_perception}}<br>
                {% if card. %}<b>:</b>{% endif %}
            </p>
        </div>
    </div>

    {% if card.languages %}
    <div class="row">
        <div class="col">
            <p>
                <b>Languages:</b> {% for language in card.languages %}{% if not forloop.first %}, {% endif %}{{language }} {% endfor %}
            </p>
        </div>
    </div>
    {% endif %}

    {% if card.damage_resistances or card.vulnerabilities or card.damage_immunities or card.condition_immunities%}
    <div class="row">
        <div class="col">
            <p>
                {% if card.damage_resistances %}
                <b>Damage Resistances:</b> {% for damage_resistance in card.damage_resistances %}{% if not forloop.first %}, {% endif %}{{damage_resistance.name|capfirst }}{% endfor %}<br>
                {% endif %}
                {% if card.vulnerabilities %}
                <b>Vulnerabilities:</b> {% for vulnerability in card.vulnerabilities %}{% if not forloop.first %}, {% endif %}{{vulnerability.name|capfirst }}{% endfor %}<br>
                {% endif %}
                {% if card.damage_immunities %}
                <b>Damage Immunities:</b> {% for damage_immunity in card.damage_immunities%}{% if not forloop.first %}, {% endif %}{{damage_immunity.name|capfirst }}{% endfor %}<br>
                {% endif %}
                {% if card.condition_immunities %}
                <b>Condition Immunities:</b> {% for condition_immunity in card.condition_immunities %}{% if not forloop.first %}, {% endif %}{{condition_immunity.name|capfirst }}{% endfor %}<br>
                {% endif %}
            </p>
        </div>
    </div>
    {% endif %}

    {% if monster_trait_list and card.traits %}
    <div class="row">
        <div class="col">
            <h4 class="card-title mt-2 mb-3" style="border-bottom: 1px solid #dee2e6;">Traits</h4>
        </div>
    </div>
    {% for monster_trait in card.traits %}
    {% for trait in monster_trait_list %}
    {% if trait.slug == monster_trait.slug %}

    <div class="row">
        <div class="col">
            <div class="card-title">{{trait.name}}<a class="btn btn-sm" href="{% url 'card_view' trait.slug %}"><i class="fas fa-search text-danger"></i></a></div>
            {% autoescape off %}
            {{trait.desc}}
            {% endautoescape %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% elif card.traits %}
    <div class="row">
        <div class="col">
            <p>
                <b>Traits:</b> {% for trait in card.traits %}{% if not forloop.first %}, {% endif %}{{trait.name | title}}{% endfor%}
            </p>
        </div>
    </div>
    {% endif %}



    {% if monster_action_list and card.actions %}
    <div class="row">
        <div class="col">
            <h4 class="card-title mt-2 mb-3" style="border-bottom: 1px solid #dee2e6;">Action</h4>
        </div>
    </div>
    {% for monster_action in card.actions %}
    {% for action in monster_action_list %}
    {% if action.slug == monster_action.slug %}

    <div class="row">
        <div class="col">
            <div class="card-title">{{action.name}}<a class="btn btn-sm" href="{% url 'card_view' action.slug %}"><i class="fas fa-search text-danger"></i></a></div>
            {% autoescape off %}
            {{action.desc}}
            {% endautoescape %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% elif card.actions %}
    <div class="row">
        <div class="col">
            <p>
                <b>Actions:</b> {% for action in card.actions %}{% if not forloop.first %}, {% endif %}{{action.name | title}}{% endfor%}
            </p>
        </div>
    </div>
    {% endif %}





    {% if monster_reaction_list and card.reactions %}
    <div class="row">
        <div class="col">
            <h4 class="card-title mt-2 mb-3" style="border-bottom: 1px solid #dee2e6;">Reaction</h4>
        </div>
    </div>
    {% for monster_reaction in card.reactions %}
    {% for reaction in monster_reaction_list %}
    {% if reaction.slug == monster_reaction.slug %}

    <div class="row">
        <div class="col">
            <div class="card-title">{{reaction.name}}<a class="btn btn-sm" href="{% url 'card_view' reaction.slug %}"><i class="fas fa-search text-danger"></i></a></div>
            {% autoescape off %}
            {{reaction.desc}}
            {% endautoescape %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% elif card.reactions %}
    <div class="row">
        <div class="col">
            <p>
                <b>Reactions:</b> {% for reaction in card.reactions %}{% if not forloop.first %}, {% endif %}{{reaction.name | title}}{% endfor%}
            </p>
        </div>
    </div>
    {% endif %}



    {% if monster_legendary_action_list and card.legendary_actions %}
    <div class="row">
        <div class="col">
            <h4 class="card-title mt-2 mb-3" style="border-bottom: 1px solid #dee2e6;">Legendary Actions</h4>
        </div>
    </div>
    {% for monster_legendary_action in card.legendary_actions %}
    {% for legendary_action in monster_legendary_action_list %}
    {% if legendary_action.slug == monster_legendary_action.slug %}

    <div class="row">
        <div class="col">
            <div class="card-title">{{legendary_action.name}}<a class="btn btn-sm" href="{% url 'card_view' legendary_action.slug %}"><i class="fas fa-search text-danger"></i></a></div>
            {% autoescape off %}
            {{legendary_action.desc}}
            {% endautoescape %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    {% elif card.legendary_actions %}
    <div class="row">
        <div class="col">
            <p>
                <b>Legendary Actions:</b> {% for legendary_action in card.legendary_actions %}{% if not forloop.first %}, {% endif %}{{legendary_action.name | title}}{% endfor%}
            </p>
        </div>
    </div>
    {% endif %}




    <div class="row">
        <div class="col">
            <button class="btn btn-light btn-xs" disabled=""><b>Source:</b> {{card.source.name}}</button>
        </div>
    </div>
</div>