<div class="card-header">
    <div class="card-head-row">
        <div class="card-title">{% if card.type.slug == "subclass"%}{{card.class.name}}: {% endif %}{{card.name}}</div>
        <div class="card-tools">
            <button class="btn btn-danger" id="store_card"><i class="fa fa-print"></i></button>
        </div>
    </div>
    <div class="card-head-row">
        <div class="card-category mt-0">{{card.type.name}} {% if card.type.slug == "class_feature"%} - {{card.class.name}} {{card.level}}º Level {% endif %}{% if card.type.slug == "spell"%} - {% if card.level == 0 %}Cantrip{% else %}{{ card.level }}º level{% endif %}
            of
            {{card.magic_school.name}}
            {% if card.is_ritual or card.is_chronomancy or card.is_renaissance %}
            -
            {% endif %}
            {% if card.is_ritual %}
            Ritual
            {% endif %}
            {% if card.is_chronomancy %}
            Chronomancy
            {% endif %}
            {% if card.is_renaissance %}
            Renaissance
            {% endif %}{% endif %}
        </div>
    </div>
</div>
<div class="card-body">
    {% autoescape off %}
    {{card.desc}}
    {% endautoescape %}
    <div class="row">
        <div class="col">
            <button class="btn btn-light btn-xs" disabled=""><b>Source:</b> {{card.source.name}}</button>
        </div>
    </div>
</div>