<div class="card-header">
    <div class="card-head-row">
        <div class="card-title">{% if card.type.slug == "subclass"%}{{card.class.name}}: {% endif %}{{card.name}}</div>
        <div class="card-tools">
            <button class="btn btn-danger" id="store_card"><i class="fa fa-print"></i></button>
        </div>
    </div>
    <div class="card-head-row">
        <div class="card-category mt-0">{{card.type.name}}</div>
    </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col">
            {% autoescape off %}
            {{card.desc}}
            {% endautoescape %}
        </div>
    </div>
    {% for subclass_feature in subclass_feature_list %}
    {% if subclass_feature.subclass.slug == card.slug %}
    <div class="row">
        <div class="col">
            <div class="card-title ">{{subclass_feature.name}}<a class="btn btn-sm" href="{% url 'card_view' subclass_feature.slug %}"><i class="fas fa-search text-danger"></i></a></div>
            <div class="card-category mt-0 mb-2">{{subclass_feature.level}}º Level</div>
            {% autoescape off %}
            {{subclass_feature.desc}}
            {% endautoescape %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row">
        <div class="col">
            <button class="btn btn-light btn-xs" disabled=""><b>Source:</b> {{card.source.name}}</button>
        </div>
    </div>
</div>