{% if card.prerequisite %}
<div class="row">
    <div class="col">
        <p><b>Prerequisite:</b> {{card.prerequisite}}.</p>
    </div>
</div>
{% endif %}
{% if card.ability_score_increase %}
<div class="row">
    <div class="col">
        <p><b>Ability Score Increase:</b> {{card.ability_score_increase}}</p>
    </div>
</div>
{% endif %}

{% autoescape off %}
{{card.desc}}
{% endautoescape %}

<div class="row">
    <div class="col">
        <p>
            <b>Source:</b> {{card.source.name}}
        </p>
    </div>
</div>