{% if card.type.slug == "spell" %}
    {% include 'cardviewer/card_spell.html'%}
    {% elif card.type.slug == "magic_school" %}
    {% include 'cardviewer/card_magic_school.html'%}
    {% elif card.type.slug == "infusion" %}
    {% include 'cardviewer/card_infusion.html'%}
    {% elif card.type.slug == "feat" %}
    {% include 'cardviewer/card_feat.html'%}
    {% elif card.type.slug == "class" %}
    {% include 'cardviewer/card_class.html'%}
    {% elif card.type.slug == "subclass" %}
    {% include 'cardviewer/card_subclass.html'%}
    {% elif card.type.slug == "class_feature" %}
    {% include 'cardviewer/card_class_feature.html'%}
    {% elif card.type.slug == "monster" %}
    {% include 'cardviewer/card_monster.html'%}
    {% else %}
    {% include 'cardviewer/card_generic.html'%}
    {% endif %}