<div class="card-header">
    {% include 'cardviewer/card_header.html'%}
    <div class="card-head-row">
        <div class="card-category mt-0">Infusion</div>
    </div>
</div>
<div class="card-body">
    {% if card.prerequisite_artificer_level %}
    <div class="row">
        <div class="col">
            <p>
                <b>Prerequisite</b>: {{card.prerequisite_artificer_level}}th-level artificer
            </p>
        </div>
    </div>
    {% endif %}
    {% if card.material %}
    <div class="row">
        <div class="col">
            <p>
                <b>Item</b>: {{card.material}}{% if card.requires_attunement %} Requires attunement.{% endif %}
            </p>
        </div>
    </div>
    {% endif %}
    {% autoescape off %}
    {{card.desc}}
    {% endautoescape %}

    {% include 'cardviewer/card_footer.html'%}
</div>