{% extends "layout/base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-head-row">
                        <div class="card-title">Cart</div>
                        <div class="card-tools">
                            <a class="btn btn-danger" href="{% url 'card_print' %}"><i class="fas fa-print"></i> Print Cards</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 1%;">Qty.</th>
                            <th scope="col" style="width: 50%;">Name</th>
                            <th scope="col">Type</th>
                            <th scope="col" style="width: 1%;"><a href="#" id="remove_all_stored_card"><i class="fas fa-trash-alt text-danger"></i></a></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card in card_list %}
                        <tr>
                            <td>Q</td>
                            <td>{{card.name}}</td>
                            <td>{{card.type.name | default_if_none:"" | title }}</td>
                            <td><a href="{% url 'remove_stored_card' card.slug %}"><i class="fas fa-trash-alt text-danger"></i></a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $('#remove_all_stored_card').click(function(e) {
				swal({
					title: 'Are you sure?',
					text: "You won't be able to revert this!",
					icon: 'warning',
					buttons:{
						confirm: {
							text : 'Yes, delete it!',
							className : 'btn btn-success'
						},
						cancel: {
							visible: true,
							className: 'btn btn-danger'
						}
					}
				}).then((Delete) => {
					if (Delete) {

						window.location.href = "{% url 'remove_all_stored_card' %}";

					} else {
						swal.close();
					}
				});
			});

</script>
{% endblock %}