{% extends "layout/base.html" %}
{% load static %}
{% block title %}{{plural_type_name}}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">{{plural_type_name}}</div>
                </div>
                <div class="card-body">
                    <table class="table table-hover generic-table">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 25%;">Name</th>
                            <th>Prerequisite</th>
                            <th>Ability Score Increase</th>
                            <th class="text-center" style="width: 1%;" scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for card in table_list %}
                        <tr>
                            <td>{{card.name}}</td>
                            <td>{% if card.prerequisite %}{{card.prerequisite}}{% endif %}</td>
                            <td>{% if card.ability_score_increase %}{{card.ability_score_increase}}{% endif %}</td>
                            <td>
                                <a href="{% url 'card_view' card.slug %}"><i class="fas fa-search text-danger"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'assets/js/custom/table_view_script.js' %}"></script>
{% endblock %}