{% extends "layout/base.html" %}
{% block title %}Home{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col-xl">

            <h5 class="pt-3 pb-1 mb-2">Daily card</h5>
            <div class="card">
            {% with card=card_daily %}
            {% include 'cardviewer/card/include/card_type_selector.html'%}
            {% endwith %}
        </div>
        </div>
        <div class="col-xl">

            <h5 class="pt-3 pb-1 mb-2">Randon card</h5>
            <div class="card">
                {% with card=card_randon %}
                {% include 'cardviewer/card/include/card_type_selector.html'%}
                {% endwith %}
        </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).ready(function() {
        $('#store_card').click(function() {
            $.ajax({
                url: '{% url 'store_card_in_cart' card_daily.slug %}',
                type: 'GET',
            });
        });
    });

    $('.typeahead').typeahead({
    })
</script>
{% endblock %}