{% extends "layout/base.html" %}

{% block title %}Início{% endblock %}

{% block stylesheet %}{% endblock %}

{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title text-center">Randon card</div>
                </div>
                {% include 'cardviewer/card_content.html'%}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}